<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h4 class="mb-4 pl-4"><%= @end_user.nickname %> さんの投稿</h4>
      <%= render "public/posts/index", posts: @posts %>
    </div>
  </div>
  <%= paginate @posts %>
</div>