<% if end_user.contacts.exists? %>
  <div class="main-visual col-lg-12 shadow-sm p-5 pb-4 bg-body rounded">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-2">項目</th>
        <th class="col-8">お問い合わせ内容</th>
        <th class="col-2">ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
        <tr class="border-bottom">
          <% if contact.end_user == current_end_user %>
            <td class="col-2 align-middle border-left"><%= contact.category_i18n %></td>
            <td class="col-8 align-middle border-left border-right"><%= contact.body %></td>
            <td class="col-2 align-middle border-right"><%= contact.status_i18n %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="my-4">お問い合わせをしていません</p>
<% end %>