<div class="container">
  <div class="row">
    <div class="col-12 text-center my-5">
      <h2 class="mb-5">お問い合わせを送信しました</h2>
      <p>
        後ほど管理人から、ご登録いただいておりますメールアドレスに<br>
        お問い合わせの回答を送信させていただきます。<br>
      </p>
    </div>
  </div>
</div>
