<%= link_to public_end_user_path(post.end_user), class: "text-dark" do %>
  <div class="d-flex">
    <%= image_tag post.end_user.get_profile_image(50,50), class: "mr-4" %>
    <p class="mr-5"><%= post.end_user.nickname %>さん</p>
  </div>
<% end %>
