<div class="d-flex pb-3 pr-5">
  <p class="col-2">本文 :</p>
  <p class="col-10"><%= post.body %></p>
</div>
<div class="d-flex flex-wrap pr-5">
  <div class="col-2">タグ :</div>
  <div class="col-10">
  <% post.tags.each do |tag| %>
    <span class="d-inline-block tag mr-4 mb-3"><%= tag.name %></span>
  <% end %>
  </div>
</div>