<div class="tag-list">
  <h6 class="p-3 tag-search-title"><i class="fas fa-tags"></i> タグ検索</h6>
  <%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
      <% Tag.all.each do |tag| %>
          <div class="d-flex m-2"><%= check_box :tag_ids, tag.name %><p id="tag"><%= tag.name %></p></div>
      <% end %>
      <p class="p-3"><%= button_tag type: "submit", class: "tag_search" do %>
        <i class="fas fa-search"></i>
      <% end %>
      </p>
  <% end %>
</div>