// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.underline {
  text-decoration: underline;
}

.top-img {
  background-image: image-url("top.jpg") ;
  width: 80%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 60%;
}

.top-text {
  height: 200px;
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  top:50%;
  left:79%;
  transform: translate(-40%,-50%);
}

.text-box {
  padding: 20px 0;
}
.text-box2 {
  background-color: #f8f4e6;
  padding: 20px 0;
}

.about-img {
  height: 180px;
}

.about-img2 {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.subtitle {
  color: #fa8072;
  font-weight: 500;
}
.line-height {
  line-height: 1.5;
}