// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.underline {
  text-decoration: underline;
}

.top-img {
  background-image: image-url("top.jpg") ;
  width: 80%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 60%;
}

.top-text {
  height: 200px;
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  top:50%;
  left:79%;
  transform: translate(-40%,-50%);
}