// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
textarea {
  width: 300px;
}
.tag {
  background-color: #a7d28d;
  padding: 3px 10px;
  border-radius: 8px;
}
.image {
  width: auto;
  height: 300px;
}
.video {
  width: 400px;
  height: 300px;
}
.post {
  background-color: rgba(255,255,255,0.4);
}
p.image-size img {
  width: auto;
  height: 150px;
}
.tag-list {
  background-color: #dcd6d2;
  margin: 100px 0;
}
#tag {
  background-color: #a7d28d;
  padding: 3px 8px;
  border-radius: 8px;
  margin: 0 8px;
}
.tag_search {
  width: 50px;
  background-color: #6f5436;
  color: white;
  border: none;
  border-radius: 15px;
  overflow: hidden;
}
.line-height {
  line-height: 2;
}
.form-title {
  width: 350px;
}
.form-body {
  width: 700px;
  height: 100px;
}
.tag-search-title {
  color: #583822;
}