<div class="container">
  <h4 class="mb-4">フォロワワー一覧</h4>
  <% if @end_users.exists? %>
    <%= render "admin/end_users/index", end_users: @end_users %>
  <% else %>
    <p>フォロワーはいません</p>
  <% end %>
</div>