<div class="container pb-3">
  <div class="row">
    <div class="col-12">
    <h2 class="mb-4 text-center">BowWowについて</h2>
      <h6 class="col-7 mx-auto mb-4 line-height">
        「BowWow」は、愛犬家が愛犬たちとの日常を、画像や動画、文章で投稿し、<br>
        会員同士で愛犬の可愛いところを共有することができます。<br>
        愛犬との日々の記録を是非投稿してください。
      </h6>
    </div>
  </div>
  <div class="row text-box2 d-flex align-items-center">
    <div class="col-8 p-4">
      <h5 class="subtitle py-2 ml-5">たくさんの愛犬家たちの投稿を見て、繋がることができる</h5>
      <p class="ml-5">
        ほかの人の素敵な投稿にはいいねやコメントを付けることができます。<br>
        また、投稿者に質問や相談したい時には、個別でメッセージのやり取りを行うことができます。
      </p>
    </div>
    <div class="col-4 text-center">
      <%= image_tag 'about.jpg', class: "about-img" %>
    </div>
  </div>
  <div class="row text-box d-flex align-items-center">
    <div class="col-4 text-center">
      <%= image_tag 'about2.jpg', class: "about-img2" %>
    </div>
    <div class="col-8 p-4">
      <h5 class="subtitle py-2">グループチャットで相談や情報交換など飼い主さんの不安解消にも</h5>
      <p>
        同じ犬種を飼っていたり、同じ地域に住んでいる飼い主様同士などのグループを<br>
        作成することができます。<br>
        グループの中で、より深くコミュニケーションを取って頂くことができたり、<br>
        相談の場として活用することができます。
      </p>
    </div>
  </div>
  <div class="row text-box2 d-flex align-items-center">
    <div class="col-8 p-4">
      <p class="ml-5">
        会員登録をしていなくても、投稿を見ることはできますが、<br>
        投稿、いいね、コメント、グループ参加等様々な機能が使用できません。<br>
        投稿をしてみたい、愛犬家同士でコミュニケーションや相談をしたいという方は<br>
        是非会員登録してお楽しみください。
      </p>
    </div>
    <div class="col-4 text-center"><%= image_tag 'about3.jpg', class: "about-img" %></div>
  </div>
</div>
