<div class="container">
  <div class="row">
    <div>
      <h2>BowWowについて</h2>
      <p>
        「BowWow」は、愛犬家が愛犬たちとの日常を、画像や動画、文章で投稿し、
        会員同士で愛犬の可愛いところを共有することができます。<br>
        愛犬との日々の記録を是非投稿してください。
      </p>
      <p>
        ほかの人の投稿を見て、可愛いと感じれば、いいねやコメントを付けることができます。<br>
        また、投稿者に質問や相談したい時には、個別でメッセージのやり取りを行うことができます。
      </p>
      <p>
        同じ犬種を飼っていたり、同じ地域に住んでいる飼い主様等でグループを作成することができます。<br>
        グループの中で、より深くコミュニケーションを取って頂くことができたり、相談の場として活用することができます。
      </p>
      <p>
        会員登録をしていなくても、投稿を見ることはできますが、投稿、いいね、コメント、グループ参加はできません。<br>
        投稿をしてみたい、愛犬家同士でコミュニケーションや相談をしたいという方は是非会員登録してお楽しみください。
      </p>
    </div>
  </div>
</div>
