<div class="container">
  <div class="row d-flex">
    <div class="col-md-7">画像</div>
    <div class="col-md-5">
      <p>愛犬家同士で愛犬との日常を共有したり、愛犬についての相談やアドバイスができるコミュニティサイトです。</p>
      <%= link_to "BowWowについて", public_about_path, class: "text-dark underline" %>
    </div>
  </div>
  <div class="mt-3">
    <h2 class="text-center">新着投稿</h2>
  </div>
</div>
