<div class="container">
  <div class="row d-flex top-img mx-auto">
    <div class="col-md-4 top-text py-3">
      <p>愛犬家同士で愛犬との日常を<br>
      共有したり、愛犬についての相談や<br>
      アドバイスができる<br>
      コミュニティサイトです。</p>
      <%= link_to "BowWowについて", public_about_path, class: "text-dark underline" %>
    </div>
  </div>
  <div class="row mt-3">
    <h2 class="pl-4">新着投稿</h2>
      <%= render "public/posts/index", posts: @posts %>
    </div>
  </div>
</div>
