$('.group-chat-message').append("<p class='self-message float-right'><span><%= time_ago_in_words(@group_chat.created_at) %>å‰</span><span><%= @group_chat.message %></span></p>");
$('input[type=text]').val("")