<% chats.each do |chat| %>
  <div class="balloon">
    <div><%= image_tag chat.end_user.get_profile_image, size: "50x50", class: "rounded-circle profile-icon" %></div>
    <div class="message"><p class="float-left"><%= chat.message %></p></div>
  </div>
<% end %>