<footer>
  <div class="p-1 text-center my-auto">
    <%= link_to "お問い合わせ", new_public_contact_path, class: "text-light small border-bottom border-light" %>
    <p class="m-0 small">
      ©BowWow<br>
      愛犬家のためのコミュニティサイト
    </p>
  </div>
</footer>